<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	th:include="defaultTemplate::full">

	<div th:fragment="mainContent">
	
		<h3 th:text="#{BRANCHES}"></h3>
		
		<form id="commitFilterFrm" name="commitFilterFrm" method="post" th:object="${filter}" th:action="@{/branch/list}">
		
			<div class="form-row">
				<div class="form-group col-md-6">
					<label for="tfRepository" th:text="#{REPOSITORY} + ':'"></label> 
					<input id="tfRepository" name="tfRepository" th:field="*{repository}" class="form-control form-control-sm" />
				</div>
				<div class="form-group col-md-6">
					<label for="tfBranch" th:text="#{BRANCH} + ':'"></label> 
					<input id="tfBranch" name="tfBranch" th:field="*{branch}" class="form-control form-control-sm" />
				</div>
			</div>
			
			<div class="form-row">
				<div class="form-group col-md-4">
					<label for="tfLimit" th:text="#{LIMIT} + ':'"></label> 
					<input type="number" step="1" id="tfLimit" name="tfLimit" th:field="*{limit}" class="form-control form-control-sm" />
				</div>
			</div>
			
			<div class="form-row">
			<div class="form-group col-md-4">
					<button type="submit" class="btn btn-primary">
						<span class="glyphicon glyphicon-search"></span>
					</button>
				</div>
			</div>
			
			
		</form>
		
		<div class="table-responsive" th:if="*{branches} != null">
			<table class="table table-hover table-condensed">
				<thead class="thead-dark">
					<tr>
						<th scope="col" th:text="#{REPOSITORY}"></th>
						<th scope="col" th:text="#{BRANCH}"></th>
					</tr>
				</thead>
				<tbody>
					<th:block th:each="branch : *{branches}">
					    <tr>
					        <td th:text="${branch.repository}"></td>
					        <td th:text="${branch.branch}"></td>
					    </tr>
					</th:block>
				</tbody>
			</table>
		</div>
		
	</div><!-- main content -->


</html>